<header>
	<nav class="menu">
		<ul class="menu__list">
			<li class="menu__list__item">
				<a routerLink="/" class="menu__list__item__img">
					<img
						src="https://res.cloudinary.com/daily-now/image/upload/f_auto,q_auto/v1/posts/5deb1dde55bcb94826e974afe5849283"
						alt="Qorrect logo" />
				</a>
			</li>
			<li>
				<button class="menu__list__item__button" (click)="addNewUser()">Add</button>
				<button class="menu__list__item__button" (click)="logout()">logout</button>
			</li>
		</ul>
	</nav>
</header>
