<app-header (isUserModalOpened)="addUserModal()"></app-header>

<div *ngIf="isLoading">
	<h2>Loading...</h2>
</div>

<section *ngIf="!isLoading" class="users" [class.modal-opened]="isUserModalOpened">
	<div class="container" [class.modal-opened]="isUserModalOpened">
		<app-users [users]="users" (opened)="getUserInfo($event)" (curruntPage)="pageChanged($event)" [per_page]="per_page"
			[page]="currentPage" [total]="total">
		</app-users>
	</div>
	<!-- .container -->

	<aside class="user-edit" [class.modal-opened]="isUserModalOpened" *ngIf="isUserModalOpened"
		(clickOutside)="isUserModalOpened = false">
		<div class="user-edit__content">
			<button class="close" (click)="isUserModalOpened = false">x</button>
			<div class="user-edit__image">
				<img [src]="userInfo.avatar" [alt]="fullName(userInfo.first_name, userInfo.last_name)"
					class="user-edit__image__source" />
			</div>
			<!-- .user-edit__image -->
			<div class="user-edit__actions">
				<button class="user-edit__button user-edit__button--success"
					(click)="ngxSmartModalService.getModal('userModal').open()">
					edit
				</button>
				<button class="user-edit__button user-edit__button--danger"
					(click)="ngxSmartModalService.getModal('deleteModal').open()">
					delete
				</button>
			</div>
			<!-- .user-edit__actions -->
			<div class="user-edit__data">
				<ul class="user-edit__list">
					<li class="user-edit__data__item">
						Name: {{ fullName(userInfo.first_name, userInfo.last_name) }}
					</li>
					<li class="user-edit__data__item">Email: {{ userInfo.email }}</li>
				</ul>
				<p class="user-edit__update-date" *ngIf="userInfo.updatedAt">
					last update: {{ (userInfo.updatedAt || userInfo.createdAt) | date: "d/M/yyyy, h:mm a" }}
				</p>
			</div>
			<!-- .user-edit__data -->
		</div>
	</aside>
</section>

<ngx-smart-modal #deleteModal identifier="deleteModal">
	<p class="delete__confirmation-message">
		are you sure want to delete
		<span>{{ fullName(userInfo?.first_name, userInfo?.last_name) }}</span>?
	</p>

	<div class="delete__actions">
		<button (click)="deleteModal.close()" class="user-edit__button">
			No
		</button>

		<button (click)="deleteUser(); deleteModal.close()" class="user-edit__button user-edit__button--danger">
			Yes
		</button>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #userModal identifier="userModal" (onClose)="isAddUserModalOpened = false">
	<div class="user-modal">
		<div class="user-modal__header">
			<h2 class="user-modal__header__title">
				{{ isAddUserModalOpened ? "Add User" : "Edit user:" }}
				<span *ngIf="!isAddUserModalOpened" class="user-modal__header__username">
					{{ fullName(userInfo.first_name, userInfo.last_name) }}
				</span>
			</h2>
		</div>

		<div class="user-modal__body">
			<form>
				<div class="user-modal__body__content">
					<label class="user-modal__body__label" for="first_name">First name:</label>
					<input id="first_name" type="text" class="user-modal__body__input" placeholder="First Name" name="first_name"
						[ngModel]="isAddUserModalOpened ? user.first_name : userInfo.first_name"
						(ngModelChange)="isAddUserModalOpened ? user.first_name = $event : userInfo.first_name = $event" />
				</div>
				<div class="user-modal__body__content">
					<label class="user-modal__body__label" for="last_name">Last name:</label>
					<input id="last_name" type="text" class="user-modal__body__input" placeholder="Last Name" name="last_name"
						[ngModel]="isAddUserModalOpened ? user.last_name : userInfo.last_name"
						(ngModelChange)="isAddUserModalOpened ? user.last_name = $event : userInfo.last_name = $event" />
				</div>
				<div class="user-modal__body__content">
					<label class="user-modal__body__label" for="email">Email</label>
					<input id="email" type="email" class="user-modal__body__input" placeholder="username" name="email"
						[ngModel]="isAddUserModalOpened ? user.email : userInfo.email"
						(ngModelChange)="isAddUserModalOpened ? user.email = $event : userInfo.email = $event" />
				</div>
			</form>
		</div>

		<div class="user-modal__footer">
			<div class="delete__actions">
				<button (click)="userModal.close()" class="user-edit__button">
					cancel
				</button>

				<button class="user-edit__button user-edit__button--danger"
					(click)="isAddUserModalOpened ? addUser() : editUser(); userModal.close()">
					{{ isAddUserModalOpened ? "add" : "save" }}
				</button>
			</div>
		</div>
	</div>
</ngx-smart-modal>
