<div class="login">
	<div class="login__modal">
		<form>
			<div class="login__modal__header">
				<img src="" alt="" />
				<h2 class="login__modal__title">log in</h2>
			</div>
			<!-- .login__modal__header -->
			<div class="login__modal__body">
				<div class="login__modal__content">
					<input
						type="email"
						class="login__modal__input"
						placeholder="username"
						autocomplete="off"
					/>
				</div>
				<!-- .login__modal__content -->
				<div class="login__modal__content">
					<input
						type="password"
						class="login__modal__input"
						placeholder="password"
						autocomplete="off"
					/>
				</div>
				<!-- .login__modal__content -->
				<div class="login__modal__content">
					<input type="checkbox" id="remember_me" />
					<label for="remember_me" class="login__modal__label">
						remember me
					</label>
				</div>
				<!-- .login__modal__content -->
				<div class="login__modal__content login__modal__content--button">
					<button type="submit" class="login__modal__button">login</button>
				</div>
				<!-- .login__modal__content -->
			</div>
			<!-- .login__modal__body -->
			<div class="login__modal__footer">
				<a class="login__modal__forgot" href="#">forgot password?</a>
			</div>
			<!-- .login__modal__footer -->
		</form>
	</div>
	<!-- .login__modal -->
</div>
<!-- .login -->
